## Resolução de exercicios base olist ##

In [2]:
import pandas as pd

In [6]:
# Importando bases

customer = pd.read_csv("Datasets/olist_customers_dataset.csv")
geolocation = pd.read_csv("Datasets/olist_geolocation_dataset.csv")
order_items = pd.read_csv("Datasets/olist_order_items_dataset.csv")
order_payments = pd.read_csv("Datasets/olist_order_payments_dataset.csv")
order_reviews = pd.read_csv("Datasets/olist_order_reviews_dataset.csv")
orders = pd.read_csv("Datasets/olist_orders_dataset.csv")
products = pd.read_csv("Datasets/olist_products_dataset.csv")
sellers = pd.read_csv("Datasets/olist_sellers_dataset.csv")

### Nivel Fácil ###

In [7]:
# 1. Qual é o tamanho de cada uma das bases (número de linhas e de colunas)?

all_datasets = {
    "Customer": customer,
    "geolocation": geolocation,
    "order_items": order_items,
    "order_payments": order_payments,
    "order_reviews": order_reviews,
    "orders": orders,
    "products": products,
    "sellers": sellers
}

for name, base in all_datasets.items():
    print(f"{name} -> {base.shape}")

Customer -> (99441, 5)
geolocation -> (1000163, 5)
order_items -> (112650, 7)
order_payments -> (103886, 5)
order_reviews -> (99224, 7)
orders -> (99441, 8)
products -> (32951, 9)
sellers -> (3095, 4)

In [10]:
# 2. Qual é o tipo de dado estatístico de cada uma delas?
# Lembrete: nominal/ordinal, numérico discreto/contínuo
# Escolhendo o dataset products

In [ ]:
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

- *product_id*: categórica nominal
- *product_category_name*: categórica nominal 
- *product_name_lenght*: numérica discreto
- *product_description_lenght*: numérica discreto
- *product_photos_qty*: numérica discreto
- *product_weight_g*: numérica contínuo
- *product_length_cm*: numérica contínuo
- *product_height_cm*: numérica contínuo
- *product_width_cm*: numérica contínuo

In [11]:
# 3. Quantos clientes distintos existem na base da Olist?

customer['customer_unique_id'].nunique()
#len(customers['customer_unique_id'].unique().count())
#customers['customer_unique_id'].drop_duplicates().count()

96096

In [13]:
# 4. Qual o período de abrangência do dataset? De que ano a que ano?

inicio = pd.to_datetime(orders['order_purchase_timestamp']).dt.date.min()
fim = pd.to_datetime(orders['order_purchase_timestamp']).dt.date.max()
print(f"Inicio: {inicio} / Fim: {fim}")

Inicio: 2016-09-04 / Fim: 2018-10-17

In [15]:
# 5. Quantos produtos distintos?

products['product_id'].nunique()

32951

In [70]:
# 6. De onde são a maioria dos clientes?

customer[['customer_state','customer_city','customer_unique_id']].groupby(['customer_state','customer_city']).count().sort_values(by=['customer_unique_id'],ascending=False).head(5)

                               customer_unique_id
customer_state customer_city
SP             sao paulo                    15540
RJ             rio de janeiro                6882
MG             belo horizonte                2773
DF             brasilia                      2131
PR             curitiba                      1521

In [30]:
# 7. Qual o número médio de produtos vendidos por ordem?

order_items['order_id'].value_counts().mean()

1.1417306873695092

In [14]:
# 8. Qual é a média de preços por ordem de venda?

order_payments['payment_value'].mean()

154.10038041699553

In [59]:
# 9. Quem são os principais vendedores que trazem maior faturamento para Olist?
order_items[['seller_id','price']].groupby(['seller_id']).sum().sort_values(by=['price'],ascending=False).head(5)

#df_seller_revenue.groupby(['seller_id']).sum()

                                      price
seller_id
4869f7a5dfa277a7dca6462dcf3b52b2  229472.63
53243585a1d6dc2643021fd1853d8905  222776.05
4a3ca9315b744ce9f8e9374361493884  200472.92
fa1c13f2614d7b5c4749cbc52fecda94  194042.03
7c67e1448b00f6e969d365cea6b010ab  187923.89