## Resolução de exercicios base olist - nível fácil ##

In [278]:
import pandas as pd

In [279]:
# Importando bases

customer = pd.read_csv("Datasets/olist_customers_dataset.csv")
geolocation = pd.read_csv("Datasets/olist_geolocation_dataset.csv")
order_items = pd.read_csv("Datasets/olist_order_items_dataset.csv")
order_payments = pd.read_csv("Datasets/olist_order_payments_dataset.csv")
order_reviews = pd.read_csv("Datasets/olist_order_reviews_dataset.csv")
orders = pd.read_csv("Datasets/olist_orders_dataset.csv")
products = pd.read_csv("Datasets/olist_products_dataset.csv")
sellers = pd.read_csv("Datasets/olist_sellers_dataset.csv")

In [7]:
# 1. Qual é o tamanho de cada uma das bases (número de linhas e de colunas)?

all_datasets = {
    "Customer": customer,
    "geolocation": geolocation,
    "order_items": order_items,
    "order_payments": order_payments,
    "order_reviews": order_reviews,
    "orders": orders,
    "products": products,
    "sellers": sellers
}

for name, base in all_datasets.items():
    print(f"{name} -> {base.shape}")

Customer -> (99441, 5)
geolocation -> (1000163, 5)
order_items -> (112650, 7)
order_payments -> (103886, 5)
order_reviews -> (99224, 7)
orders -> (99441, 8)
products -> (32951, 9)
sellers -> (3095, 4)

In [10]:
# 2. Qual é o tipo de dado estatístico de cada uma delas?
# Lembrete: nominal/ordinal, numérico discreto/contínuo
# Escolhendo o dataset products

In [ ]:
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

- *product_id*: categórica nominal
- *product_category_name*: categórica nominal 
- *product_name_lenght*: numérica discreto
- *product_description_lenght*: numérica discreto
- *product_photos_qty*: numérica discreto
- *product_weight_g*: numérica contínuo
- *product_length_cm*: numérica contínuo
- *product_height_cm*: numérica contínuo
- *product_width_cm*: numérica contínuo

In [11]:
# 3. Quantos clientes distintos existem na base da Olist?

customer['customer_unique_id'].nunique()
#len(customers['customer_unique_id'].unique().count())
#customers['customer_unique_id'].drop_duplicates().count()

96096

In [13]:
# 4. Qual o período de abrangência do dataset? De que ano a que ano?

inicio = pd.to_datetime(orders['order_purchase_timestamp']).dt.date.min()
fim = pd.to_datetime(orders['order_purchase_timestamp']).dt.date.max()
print(f"Inicio: {inicio} / Fim: {fim}")

Inicio: 2016-09-04 / Fim: 2018-10-17

In [15]:
# 5. Quantos produtos distintos?

products['product_id'].nunique()

32951

In [70]:
# 6. De onde são a maioria dos clientes?

customer[['customer_state','customer_city','customer_unique_id']].groupby(['customer_state','customer_city']).count().sort_values(by=['customer_unique_id'],ascending=False).head(5)

#customer["customer_state"].value_counts
#customer["customer_city"].value_counts

# o value counts é uma contagem relativa a chave primária

#Outra solução
    #chave = ["customer_state","customer_city"]
    #customer.groupby(by=chave)["customer_id"].count().sort_values(ascending=False)

                               customer_unique_id
customer_state customer_city
SP             sao paulo                    15540
RJ             rio de janeiro                6882
MG             belo horizonte                2773
DF             brasilia                      2131
PR             curitiba                      1521

In [13]:
# 7. Qual o número médio de produtos vendidos por ordem?
# 1 agrupar por ordem
# 2 Contar quantos produtos tenho para cada ordem ["product_id"].count()
# 3 Calcular a media mean()

order_items.groupby(by="order_id")["product_id"].count().mean()
 
# Outra solução:
    #order_items['order_id'].value_counts().mean() 
    # Nesse caso a chave não importaria e por isso a solução funcionou.

1.1417306873695092

In [9]:
# 8. Qual é a média de preços por ordem de venda?
# O valor do pagamento na tabela de payments deve incluir outros valores além do valor bruto do produto

#order_payments['payment_value'].mean()
    #154

# Passo a passo: 
    # 1. agrupar a tabela de order itens por items 
    # 2. fazer a média

# order_items.groupby(by='order_id')["price"].sum().mean()
    #137 - Esse seria um número global

order_items.groupby(by='order_id')["price"].mean()

order_id
00010242fe8c5a6d1ba2dd792cb16214     58.90
00018f77f2f0320c557190d7a144bdd3    239.90
000229ec398224ef6ca0657da4fc703e    199.00
00024acbcdf0a6daa1e931b038114c75     12.99
00042b26cf59d7ce69dfabb4e55b4fd9    199.90
                                     ...
fffc94f6ce00a00581880bf54a75a037    299.99
fffcd46ef2263f404302a634eb57f7eb    350.00
fffce4705a9662cd70adb13d4a31832d     99.90
fffe18544ffabc95dfada21779c9644f     55.99
fffe41c64501cc87c801fd61db3f6244     43.00
Name: price, Length: 98666, dtype: float64

In [23]:
# 9. Quem são os principais vendedores que trazem maior faturamento para Olist?

#Será que uma ordem tem mais de um vendedor
    #order_items.groupby(by='order_id')['seller_id'].nunique().sort_values(ascending=False)
    #Sim, Isso dificulta relacionar com a tabela de payment values

order_items['Total_price'] = order_items['price'] + order_items ['freight_value']
order_items.groupby(by='seller_id')['Total_price'].sum().sort_values(ascending=False).head(20)

seller_id
4869f7a5dfa277a7dca6462dcf3b52b2    249640.70
7c67e1448b00f6e969d365cea6b010ab    239536.44
53243585a1d6dc2643021fd1853d8905    235856.68
4a3ca9315b744ce9f8e9374361493884    235539.96
fa1c13f2614d7b5c4749cbc52fecda94    204084.73
da8622b14eb17ae2831f4ac5b9dab84a    185192.32
7e93a43ef30c4f03f38b393420bc753a    182754.05
1025f0e2d44d7041d6cf58b6550e0bfa    172860.69
7a67c85e85bb2ce8582c35f2203ad736    162648.38
955fee9216a65b617aa5c0531780ce60    160602.68
6560211a19b47992c3666cc44a7e94c0    151265.77
1f50f920176fa81dab994f9023523100    142104.98
46dc3b2cc0980fb8ec44634e21d2718e    139909.69
a1043bafd471dff536d0c462352beb48    133745.25
cc419e0650a3c5ba77189a1882b7556a    129957.41
620c87c171fb2a6dd6e8bb4dec959fc6    128909.71
5dceca129747e92ff8ef7a997dc4f8ca    125816.92
7d13fca15225358621be4086e1eb0964    122261.02
3d871de0142ce09b7081e2b9d1733cb1    117347.71
edb1ef5e36e0c8cd84eb3c9b003e486d     83189.65
Name: Total_price, dtype: float64